<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>example/ExampleViewModel.swift</string>
		<string>example/ExampleViewController.swift</string>
		<string>example/ExampleViewModelTests.swift</string>
		<string>example/ExampleViewController.playground</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>no.beiningbogen.functional-reactive-swift-template</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>example/ExampleViewController.swift</key>
		<dict>
			<key>Group</key>
			<string>example</string>
			<key>Path</key>
			<string>example/ExampleViewController.swift</string>
		</dict>
		<key>example/ExampleViewModel.swift</key>
		<dict>
			<key>Group</key>
			<string>example</string>
			<key>Path</key>
			<string>example/ExampleViewModel.swift</string>
		</dict>
		<key>example/ExampleViewModelTests.swift</key>
		<dict>
			<key>Group</key>
			<string>example</string>
			<key>Path</key>
			<string>example/ExampleViewModelTests.swift</string>
			<key>TargetIndices</key>
			<array>
				<string>lolTarget</string>
			</array>
		</dict>
		<key>example/ExampleViewController.playground</key>
		<dict>
			<key>Group</key>
			<string>example</string>
			<key>Path</key>
			<string>example/ExampleViewController.playground</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___Framework</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___Api</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Mogenerator Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/${PROJECT_NAME}/Scripts/MOGenerator.sh&quot;</string>
				</dict>
			</array>
		</dict>

		<dict>
			<key>CFBundlePackageType</key>
    <string>FMWK</string>
		  <key>TargetIdentifier</key>
		  <string>com.apple.dt.unit.cocoaTouchFramework</string>
		  <key>TargetType</key>
		  <string>Aggregate</string>
		  <key>Name</key>
		  <string>___PACKAGENAME___</string>
		  <key>BuildToolPath</key>
		  <string>___VARIABLE_buildToolPath___</string>
		  <key>BuildToolArgsString</key>
		  <string>$(ACTION)</string>
		 </dict>

	</array>
</dict>
</plist>
