<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>GrrApi</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>example/ExampleViewModel.swift</string>
		<string>example/ExampleViewController.swift</string>
		<string>example/ExampleViewModelTests.swift</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>no.beiningbogen.functional-reactive-swift-template</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>example/ExampleViewController.swift</key>
		<dict>
			<key>Group</key>
			<string>example</string>
			<key>Path</key>
			<string>example/ExampleViewController.swift</string>
		</dict>
		<key>example/ExampleViewModel.swift</key>
		<dict>
			<key>Group</key>
			<string>example</string>
			<key>Path</key>
			<string>example/ExampleViewModel.swift</string>
		</dict>
		<key>example/ExampleViewModelTests.swift</key>
		<dict>
			<key>Group</key>
			<string>example</string>
			<key>Path</key>
			<string>example/ExampleViewModelTests.swift</string>
			<key>TargetIndices</key>
			<array>
				<string>lolTarget</string>
			</array>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
